{
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true
    }]
  ]
}
